__pycache__
data/
combined_obj_jerrick/688/seat.obj
combined_obj_jerrick/688/leg.obj
combined_obj_jerrick/688/back.obj
combined_obj_jerrick/39101/seat.obj
combined_obj_jerrick/39101/leg.obj
combined_obj_jerrick/39101/back.obj
combined_obj_jerrick/39101/arm.obj
combined_obj_jerrick/347/seat.obj
combined_obj_jerrick/347/leg.obj
combined_obj_jerrick/347/back.obj
combined_obj_jerrick/3001/seat.obj
combined_obj_jerrick/3001/leg.obj
combined_obj_jerrick/3001/back.obj
combined_obj_jerrick/3001/arm.obj
combined_obj_jerrick/2820/seat.obj
combined_obj_jerrick/2820/leg.obj
combined_obj_jerrick/2820/back.obj
combined_obj_jerrick/2820/arm.obj
combined_obj_jerrick/173/seat.obj
combined_obj_jerrick/173/leg.obj
combined_obj_jerrick/173/back.obj
combined_obj_jerrick/172/seat.obj
combined_obj_jerrick/172/leg.obj
combined_obj_jerrick/172/back.obj
combined_obj_jerrick/1325/seat.obj
combined_obj_jerrick/1325/leg.obj
combined_obj_jerrick/1325/back.obj
combined_obj_jerrick/1325/arm.obj
combined_obj_jerrick/1095/seat.obj
combined_obj_jerrick/1095/leg.obj
combined_obj_jerrick/1095/back.obj
combined_obj_jerrick/.DS_Store
.DS_Store
